@page "/elencogiostre"

<head>
     <link rel="stylesheet" href="/styles/elencogiostre.css">
</head>
<body class="elenco giostre">
   

    <main>
        <Giostre nomeGiostra="Giostre1" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Giostre>
        <Giostre nomeGiostra="Giostre2" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Giostre>
        <Giostre nomeGiostra="Giostre3" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Giostre>
        <Giostre nomeGiostra="Giostre4" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Giostre>
        <Giostre nomeGiostra="Giostre5" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Giostre>
        <Giostre nomeGiostra="Giostre6" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Giostre>
        
    </main>

</body>