@page "/news"

<body class="news">
   

    <main>
        <News Title="News1" Text ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></News>
        <News Title="News2" Text ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></News>
        <News Title="News3" Text ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></News>
        <News Title="News4" Text ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></News>
        <News Title="News5" Text ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></News>
        <News Title="News6" Text ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></News>
        
    </main>

</body>
