@page "/ristoranti"

<head>
     <link rel="stylesheet" href="/styles/form.css">
</head>
<body class="ristoranti">
   

    <main>
        <Ristoranti nomeRistorante="Ristoranti1" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Ristoranti>
        <Ristoranti nomeRistorante="Ristoranti2" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Ristoranti>
        <Ristoranti nomeRistorante="Ristoranti3" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Ristoranti>
        <Ristoranti nomeRistorante="Ristoranti4" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Ristoranti>
        <Ristoranti nomeRistorante="Ristoranti5" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Ristoranti>
        <Ristoranti nomeRistorante="Ristoranti6" descrizione ="dffdsfsfesfsefsefsfes" img="/images/sfondo.jpeg"></Ristoranti>
        
    </main>

</body>